/*   function, mixinの呼び出し -------------------- */
@use "../../foundation/mixin" as m;
@use "../../foundation/function" as *;

.c-heading {
    /* 見出し部分のカスタムプロパティ */
    :root {
        --color-primary: #3C2A10;
        --color-secondary: #3C2A10;
        /* color:＃707070 foundationで指定 */
    }
    font-family: 'Roboto', sans-serif;
    &__M-normal{
        font-weight: normal;
        font-family: 'M PLUS 1p', sans-serif;
    }
    & &__R-normal {
        font-weight: normal;
    }
}