/*   function, mixinの呼び出し -------------------- */
@use "../../foundation/mixin" as m;
@use "../../foundation/function" as *;

.p-article {
    // /* 見出し部分のカスタムプロパティ */
    // :root {
    //     --color-primary: #3C2A10;
    //     --color-secondary: #3C2A10;
    //     /* color:＃707070 foundationで指定 */
    // }
    gap: 30px;
    padding: 255px 0 177px 0;
    color: #3C2A10;
    @include m.mq(tab) {
        gap: respoTB(30, 60);
        padding: respoTB(530,560) 0 respoTB(177, 228) 0;
    }
    @include m.mq(pc) {
        gap: 60px;
        padding: 560px 0 respoPC(228, 353) 0;
    }
    h2 {
        color: var(--color-primary);
        font-size: 28px;
        line-height: 1.5;
        @include m.mq(tab) {
            font-size: 36px;
        }
    }
    p {
        font-weight: normal;
    }
    h3 {
        color: var(--color-primary);
        font-size: 24px;
        line-height: 1.5; /* 今回はbodyの設定値と同様 */
        @include m.mq(tab) {
            font-size: 28px;
        }
    }
    h4, h5, h6 {
        color: var(--color-primary);
        font-size: 20px;
        line-height: 1.5; /* 今回はbodyの設定値と同様 */
    }
    blockquote {
        padding: 30px 16px 30px 20px;
        background-color: #F5F5F5;
        @include m.mq(tab) {
            padding: respoTB(30,50) respoTB(16, 50) respoTB(30, 60) respoTB(20, 60);
        }
        @include m.mq(tab) {
            padding: 50px 50px 60px 60px;
        }
        >p {
            margin-bottom: 30px;
            @include m.mq(tab) {
                margin-bottom: respoTB(30,60);
            }
            @include m.mq(pc) {
                margin-bottom: 50px;
            }
        }
        cite {
            font-style: normal;
            font-size: 16px;
            font-weight: normal;
            line-height: calc(23/16);
            a {
                color: -webkit-link;
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }
    .wp-block-media-text {
        display: flex;
        gap: 10px;
        @include m.mq(tab) {
            gap: 21px;
        }
        @include m.mq(pc) {
            gap: 40px;
        }
        &__media {
            flex: 1 0 45%;
            align-self: inherit;
        }
        &__content {
            flex: 1 1 55%;
            padding: 0;
            max-height: 175px!important;
            overflow: scroll;
            -ms-overflow-style: none; /* IE, Edge 対応 */
            scrollbar-width: none; /* Firefox 対応 */
            font-size: 16px;
            font-weight: normal;
            line-height: calc(23/16);
            @include m.mq(tab) {
                max-height: 373px!important;
            }
            @include m.mq(pc) {
                max-height: inherit!important;
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .has-media-on-the-right {
        flex-direction: row-reverse;
    }
    .wp-block-image {
        margin: 0;
        .size-medium {
            width: 45%;
            margin: 0 auto;
            object-fit: cover;
            @include m.mq(tab) {
                width: 80%;
            }
            @include m.mq(pc) {
                width: 45%;
            }
            img {
                width: 100%!important;
            }
        }
    }
    .wp-block-gallery {
        display: grid;
        row-gap: 20px;
        @include m.mq(tab) {
            grid-template-columns: auto auto;
            column-gap: 16px;
        }
        @include m.mq(pc) {
            grid-template-columns: auto auto auto;
            column-gap: 20px;
        }
        >figure {
            object-fit: cover;
            width: 100%!important;
            border-style: solid;
            border-width: 1px;
            border-color: #707070;
        }
    }
    >ol, ul {
        font-weight: normal;
        @include m.mq(tab) {
            padding-left: 50px;
        }
        @include m.mq(pc) {
        }
        >li {
            >ol,ul {
                padding: 20px 0 20px 18px ;
            }
        }
    }
    .wp-block-code {
        padding: 50px 0 50px 50px;
        background-color: #F5F5F5;
    }
    .wp-block-table {
        font-weight: normal;
        tbody {
            tr {
                border: solid 1px #707070;
                td:nth-child(1){
                    width: 40%;
                    padding: 28px 0 28px 30px;
                    border: solid 1px #707070;
                    @include m.mq(tab) {
                        width: 30%;
                    }
                }
                td:nth-child(2){
                    width: 60%;
                    padding: 28px 0 28px 30px;
                    border: solid 1px #707070;
                    @include m.mq(tab) {
                        width: 70%;
                    }
                }
            }
        }
    }
    .wp-block-buttons {
        
        .wp-block-button {
            max-width: 430px!important;
            &__link {
                display: inline-block;
                width: 100%;
                padding: 40px respoSP(110,190);
                border-width: 1px;
                border-style: solid;
                border-color: #707070;
                border-radius: 10px;
                background-color: #F2EDE9;
                font-size: 16px;
                font-weight: bold;
                color: #707070;
                cursor: pointer;
                @include m.mq(tab) {
                    width: 100%;
                    padding: 40px 190px;
                }
            }
        }
    }
}